@import 'mixins';

body {
  //background-color: darkgrey;
}
main {
  max-width: 100%;
}

.position-relative {
  position: relative;
}
.position-sticky {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.width-100 {
  width: 100%;
}

.text-align-center{
  text-align: center;
}
