@import "mixins";

body {
	//background-color: darkgrey;
}
main {
	max-width: 100%;
}

.position-relative {
	position: relative;
}
.position-sticky {
	position: sticky;
	top: 0;
	align-self: flex-start;
}

.scroll {
	overflow-y: auto;
}
.overflow-hidden{
	overflow: hidden;
}
.height-100, .h-100 {
	height: 100%;
}

.width-100 {
	width: 100%;
}

.flex-grow {
	flex-grow: 1;
}

.d-flex{
	display: flex;
}

.flex-row {
	flex-flow: row;
}
.flex-column {
	flex-flow: column;
}
.align-items-center{
	align-items: center;
}

.justify-content-between{
	justify-content: space-between;
}
.justify-content-evenly{
	justify-content: space-evenly;
}
.text-align-center {
	text-align: center;
}
.pointer {
	&:hover {
		cursor: pointer;
	}
}
/* Scroll bar stylings */
::-webkit-scrollbar {
	width: 4px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(240, 240, 240);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(180, 180, 180);
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(126, 126, 126);
}
