$k: 4;
@mixin mb-mixin($size) {
  margin-bottom: $size*$k  + px;
}
@mixin m-mixin($size) {
  margin: $size*$k  + px;
}
@mixin mt-mixin($size) {
  margin-top: $size*$k  + px;
}
@mixin ml-mixin($size) {
  margin-left: $size*$k  + px;
}
@mixin mr-mixin($size) {
  margin-right: $size*$k  + px;
}

@mixin p-mixin($size) {
  padding: $size*$k  + px;
}
@mixin pb-mixin($size) {
  padding-bottom: $size*$k  + px;
}
@mixin pt-mixin($size) {
  padding-top: $size*$k  + px;
}
@mixin pl-mixin($size) {
  padding-left: $size*$k  + px;
}
@mixin pr-mixin($size) {
  padding-right: $size  + px;
}

@mixin right-mixin($size) {
  position: absolute;
  right: $size  + px;;
}

@for $i from 1 through 40 {
  .mb-#{$i} { @include mb-mixin($i); }
  .mt-#{$i} { @include mt-mixin($i); }
  .mr-#{$i} { @include mr-mixin($i); }
  .ml-#{$i} { @include ml-mixin($i); }
  .m-#{$i} { @include m-mixin($i); }
  .pb-#{$i} { @include pb-mixin($i); }
  .pt-#{$i} { @include pt-mixin($i); }
  .pr-#{$i} { @include pr-mixin($i); }
  .pl-#{$i} { @include pl-mixin($i); }
  .p-#{$i} { @include p-mixin($i); }
  .right-#{$i}{ @include right-mixin($i); }
}
